#profile_pic {
	width: 300px;
	height: 250px;
	float: left;
}
#user-invalid {
	display: flex;
	flex-direction: column;
}

#btn {
	display: flex;
	flex-direction: column;
}

.delete_btn {
	color: rgb(252, 73, 73);
}

ul {
	list-style-type: none;
}
