{% extends 'all_users.html'%}

{%block content%}

<div class="container">
    <h1>Create Post</h1>

    <form action="" method="POST">
        <label for="title"> Title :
            <input type="text" name="title" id="">
        </label><br>
        <label for="content"> Content:
            <input type="text" name="content" id="">
        </label><br>
        <button class="btn btn-default" formmethod="GET" formaction="/user/{{user.id}}">Back to user</button>
        <button class="btn btn-default">Add Post</button>
    </form>
</div>
{%endblock%}