{% extends 'all_users.html'%}

<body>
    {%block content%}
    <div class="container">
        <h2>Add Users</h2>
        <form id="create_user_form" method="POST">
            <p>First Name: <input name="first_name"></p>
            <p>Last Nmae: <input name="last_name"></p>
            <p>Image URL: <input name="image_url"></p>
            <button class="btn btn-success">Submit</button>
        </form>
        <form action="">
            <button class="btn btn-outline-info" formmethod="GET" formaction="/user">Cancel</button>
        </form>
    </div>
    {%endblock%}
</body>